<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src="../static/profile.jpg" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Gupta Ashutosh Ramkumar </h1>
          <p>Mern Stack Developer</p>
          <div class="sum-btn">
          
            <button onclick="window.print()" class="bt1">Download Cv</button>
            <a href="contact.html"><button class="bt2">Hire me</button></a>
          </div>
          <div class="social-icons">
            <a href="https://github.com/ashu1450"
              ><img src="https://img.icons8.com/metro/22/ffffff/github.png"
            /></a>
            <a href="https://www.linkedin.com/in/ashutosh-gupta-897658209/"
              ><img src="https://img.icons8.com/metro/22/ffffff/linkedin.png"
            /></a>
            <a href="mailto:ashutoshg145@gmail.com"
              ><img
                src="https://img.icons8.com/metro/23/ffffff/secured-letter.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            Ability to translate business requirements into technical solutions. Looking to start the career as an entry-level MERN Stack Developer with a reputed firm driven by technology.
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>24</p>
            <p>ashutoshg145@gmail.com</p>
            <p>+91 7397196246</p>
            <p>Nepal</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Technical Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>
            <legend>React</legend>
            <div class="bar4 bar"></div>
          </div>
          <div>
            <legend>Java</legend>
            <div class="bar5 bar"></div>
          </div>
          <div>
            <legend>Express</legend>
            <div class="bar6 bar"></div>
          </div>
        </div>
      </div>
      <div class="projects">
        <h1>Projects Done</h1>
        <div class="cards-container">
          <div class="card card1">
            <h1 class="card-text">
              <img
                src="https://cdn-icons-png.flaticon.com/128/5726/5726470.png"
              />
            </h1>
            <h3 class="card-subtext">SonaSpace</h3>
            <p class="card-maintext">
              A web application where people can interact with each other and get their problems/question solved by other users
            </p>
          </div>
          <div class="card card2">
            <h1 class="card-text">
              <img src="https://cdn-icons-png.flaticon.com/128/3921/3921334.png" />
            </h1>
            <h3 class="card-subtext">Drum Kit</h3>
            <p class="card-maintext">
              A web application for kids to play drum for their entertainment purpose
            </p>
          </div>
          <div class="card card3">
            <h1 class="card-text">
              <img src="https://cdn-icons-png.flaticon.com/128/2511/2511879.png" />
            </h1>
            <h3 class="card-subtext">Daily Journal</h3>
            <p>
              A React based web app which is used by people to post their daily journals.
            </p>
          </div>
        </div>
      </div>
      <div class="certificate">
        <h1>Certification:</h1>
        <div class="cert-cont">
          <ul>
            <li>Digital Marketing</li>
            <li>Mern Stack Developer</li>
            <li>Python For Data Science</li>
            
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
